* {
    box-sizing: border-box;
}

body {
  margin: 0;
    font-family:Palatino Linotype;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 20px;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

.drone_img{
    height: 100%;
    width:  100%;
}

.button {
 background-color: tomato;
 border: none;
 color: white;
 padding: 20px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 14px;
 margin: 4px 2px;
 cursor: pointer;
    
}

    
.button3{border-radius: 10px;}
.button3:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.50), 0 17px 50px 0 rgba(0,0,0,0.19);
     background-color: #333333;
}
